<html>
<body>
<div style="height:50%; width: 50%;margin: 10%;background-color: white;">
    <hr style="height: 4px;background: #4BA1AC; border: none;"/>
    <h1 style="color: #4BA1AC; font-size: 20px;">Thoughtworks X-Act</h1>
    <p style="padding-left: 5px;font-size: 15px;">Hello there,</p>
    <p>Please share your feedback in the below link<a style="text-decoration: none;color: #4BA1AC" href="${feedbackUrl}"> here</a>.</p>
    <br>
    <hr>
    <div style="padding-top: 8px;padding-left: 5px">
        <heading style="font-size: 13px;"><strong>Assessment Name:</strong></heading>
        <p style="font-style: italic;font-size: 12px;">${assessment.assessmentName}</p>
        <br>
        <heading style="font-size: 13px;"><strong>Organisation Name:</strong></heading>
        <p style="font-style: italic;font-size: 12px;">${assessment.organisationName}</p>
        <br>
        <heading style="font-size: 13px;"><strong>Started On:</strong></heading>
        <p style="font-style: italic;font-size: 12px;">${assessment.createdAt}</p>
        <br>
        <heading style="font-size: 13px;"><strong>Ended On:</strong></heading>
        <p style="font-style: italic;font-size: 12px;">${assessment.updatedAt}</p>
        <br>
        <heading style="font-size: 13px;"><strong>Collaborators:</strong></heading>
        #foreach ($user in $assessment.collaborators.split(','))
            <p>$user</p>
        #end
        <br>
    </div>
</div>
</body>
</html>
